@import "../../base.scss";

// UserInfo
.container {
  width: 639px;
  height: 100%;
  border: 1px solid #e6ecf0;

  .header {
    height: 75px;
    margin-left: 28px;
    display: flex;
    align-items: center;

    .returnWrapper {
      margin-left: 28px;

      .userName {
        line-height: 26px;
        font-size: 18px;
        font-weight: 700;
      }

      .tweetNum {
        line-height: 19px;
        font-size: 13px;
        font-weight: 500;
        color: #6c757d;
      }
    }
  }
}

// UserProfile
.profileContainer {
  position: relative;
  width: 639px;
  min-height: 400px;

  .imageWrapper {
    width: 639px;
    min-height: 272px;

    .cover {
      width: 639px;
      height: 200px;
    }

    .avatar {
      position: absolute;
      top: 124px;
      left: 16.13px;
      border-radius: 50%;
      width: 141.1px;
      height: 140px;
      border: solid 4px white;
    }
  }

  .otherProSection {
    position: absolute;
    width: 623px;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    top: 217px;
    

    div {
      position: absolute;
      right: 17px;
      display: flex;
      gap: 16px;

      .followIcon {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .editButton {
    position: absolute;
    top: 216px;
    right: 32px;
    // padding: 8px 16px;
    width: 128px;
    height: 40px;
    font-weight: 400;
    font-size: 16px;
    background: #ffffff;
    border: 1px solid #ff6600;
    color: #ff6600;
    border-radius: 50px;

    &:hover {
      cursor: pointer;
    }
  }

  .infoDescription {
    margin-top: 20px;
    margin-left: 16px;

    .name {
      font-weight: 700;
      font-size: 18px;
      line-height: 26px;
      color: #171725;
    }

    .account {
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: #6c757d;
    }

    .description {
      width: 590px;
      height: 100%;
      font-size: 14px;
      line-height: 22px;
      margin-top: 6px;
    }

    .numWrapper {
      display: flex;
      font-size: 14px;
      line-height: 22px;

      p {
        margin-right: 20px;
        cursor: pointer;
      }

      .sub {
        color: #6c757d;
      }
    }
  }
}

// list
.userList {
  padding-bottom: 17px;
}

// UserReplyList
.userNav {
  height: 52px;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 700;

  div {
    width: 130px;
    line-height: 52px;
    text-align: center;
  }

  .active {
    border-bottom: 2px solid #ff6600;
    color: #ff6600;
  }
}

// UserReplyTweet

.tweetContainer {
  width: 100%;
  height: 100%;
  // min-height: 148px;
  border: 1px solid #e6ecf0;
  border-top: none;
  padding-top: 16px;
  // margin-top: 10px;
  // gap: 5px;
}

.tweetsWrapper {
  height: 100%;
  .tweetCollection {
    display: flex;
    margin-left: 24px;

    .avatarWrap {
      margin-right: 5px;
      img {
        position: relative;
        width: 50px;
        height: 50px;
        // background-color: rgb(189, 188, 188);
        border-radius: 50%;
      }

      :hover {
        cursor: pointer;
      }

      // .darkLogo {
      //   position: absolute;
      //   top: 9px;
      //   left: 9px;
      //   width: 34px;
      //   height: 34px;
      //   opacity: 0.3;
      // }
    }

    .tweetContent {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      margin-left: 8px;
      margin-bottom: 16px;

      .nameInfo {
        position: relative;
        display: flex;
        line-height: 26px;
        align-items: center;
        margin-bottom: 8px;

        .tweetName {
          font-size: 16px;
          font-weight: 700;
          margin-right: 8px;
        }

        .followIcon {
          // position: absolute;
          // margin-left: 386px;
          text-align: end;
        }

        .tweetTime {
          font-size: 14px;
          color: #6c757d;
        }
      }

      .reply {
        margin-top: 8px;
        color: #6c757d;

        .replyTo {
          margin-left: 5px;
          color: #ff6600;
        }
      }

      .tweetArticle {
        width: 90%;
        // margin-top: 8px;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        color: #171725;

        &:hover {
          cursor: pointer;
        }
      }

      .tweetReplyArticle {
        width: 90%;
        margin-top: 8px;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        color: #171725;
      }

      .numCount {
        margin-top: 9.49px;
        display: flex;

        .icon {
          &:hover {
            cursor: pointer;
          }
        }

        div {
          display: flex;
          gap: 9.44px;
          align-items: center;
        }

        .likeNum {
          margin-left: 41.3px;
        }
      }
    }
  }
}

//popular class
.interaction {
  &:hover {
    cursor: pointer;
  }
}

//edit
.editContainer {
  position: relative;
  top: 56px;
  left: 0px;
  width: 634px;
  height: 610px;
  z-index: 1000;
  background-color: #ffffff;
  border-radius: 14px;
  border: 1px solid #92929d;
  display: flex;
  flex-direction: column;
}

.imageContainer {
  position: relative;
  width: 634px;
  height: 340px;

  .avatar {
    position: absolute;
    top: 124px;
    left: 16.13px;
    border-radius: 50%;
    width: 141.1px;
    height: 140px;
    border: solid 4px white;
  }
}

.editHeader {
  width: 598px;
  height: 58px;
  display: flex;
  line-height: 58px;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20px;

  div:nth-child(1) {
    width: 200px;
    height: 58px;
    display: flex;
    gap: 36.5px;
    align-items: center;
  }

  div:nth-child(2) {
    width: 64px;
    height: 58px;
    display: flex;
    gap: 36.5px;
    align-items: center;
  }
}

.inputContainer {
  width: 602px;
  height: 54px;
  margin-left: 16px;
  background-color: #f5f8fa;
  border-bottom: 2px solid #657786;

  div {
    width: 567px;
    height: 22px;
    font-family: "Noto Sans TC";
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #696974;
    margin: 0 auto;
  }
}

input {
  width: 567px;
  height: 22px;
  font-family: "Noto Sans TC";
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  align-items: center;
  font-size: 16px;
}

.textCount {
  width: 600px;
  height: 20px;
  font-family: "Noto Sans TC";
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  margin: 0 auto;
  color: #696974;
  text-align: end;
  margin-top: 4px;
}

.textareaWrap {
  width: 602px;
  height: 171px;
  margin: 0 auto;
}

.textContainer {
  width: 602px;
  height: 147px;
  background-color: #f5f8fa;
  border-bottom: 2px solid #657786;

  textarea {
    background-color: #f5f8fa;
    resize: none;
    display: inline-block;
    width: 566px;
    height: 115px;
    font-family: "Noto Sans TC";
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #171725;
    margin-left: 14px;
    border: none;
  }
}

.textTitle {
  display: inline-block;
  width: 566px;
  height: 22px;
  font-family: "Noto Sans TC";
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #696974;
  margin-left: 14px;
}

// user tweets form
.userTweetContainer {
  border: 1px solid #000;
}

// EditPopup

// .popupContainer {
//   width: 100%;
//   height: 100vh;
//   position: fixed;
//   z-index: 100;
//   top: 0;
//   left: 0;
//   background-color: rgb(0, 0, 0, 0.2);
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   .popupInner {
//     top: 56px;
//     left: 334px;
//     width: 634px;
//     height: 610px;
//     background-color: #fff;
//     border-radius: 14px;

//     .headerWrapper {
//       width: 100%;
//       height: 57px;
//       display: flex;
//       align-items: center;
//       padding: 0 16px 0 19.5px;

//       .deleteIcon {
//         &:hover {
//           cursor: pointer;
//         }
//       }

//       .editTitle {
//         font-weight: 700;
//         font-size: 18px;
//         line-height: 26px;
//         margin: 0 375px 0 36.5px;
//       }

//       .storeButton {
//         width: 64px;
//         height: 40px;
//         background: #ff6600;
//         border-radius: 50px;
//         color: #fff;
//         border-style: none;

//         &:hover {
//           cursor: pointer;
//         }
//       }
//     }

//     .imageWrapper {
//       position: relative;
//       width: 634px;
//       height: 280px;

//       .coverWrapper {
//         .cover {
//           width: 100%;
//           height: 200px;
//           display: flex;
//           justify-content: center;
//           align-items: center;
//           gap: 38.5px;
//           filter: brightness(60%)
//         }

//         .iconWrapper {
//           position: absolute;
//           top: 90px;
//           left: 279px;
//           display: flex;
//           justify-content: center;
//           align-items: center;
//           gap: 38.5px;
//         }
//       }

//       .avatarWrapper {
//         .avatar {
//           position: absolute;
//           top: 124px;
//           left: 16.13px;
//           border-radius: 50%;
//           width: 141.1px;
//           height: 140px;
//           border: solid 4px white;
//           filter: brightness(60%)
//         }

//         .changeIcon {
//           position: absolute;
//           top: 184px;
//           left: 76px;
//         }
//       }
//     }

//     .inputWrapper {
//       width: 602px;
//       height: 233px;
//       margin: 10px 16px 8px 16px;

//       .inputContainer {
//         width: 602px;
//         margin-bottom: 32px;

//         .nameInput {
//           display: flex;
//           flex-direction: column;
//           justify-content: space-around;
//           background-color: #f5f8fa;
//           border-radius: 2px;
//           border-bottom: 2px solid #657786;
//           padding: 2px 10.55px 4px 10.55px;

//           div {
//             font-size: 14px;
//             line-height: 22px;
//             color: #696974;
//             // text-align: start;
//             // margin: 2px 10.55px 0px 10.55px;
//           }

//           input {
//             outline: none;
//             border: none;
//             background-color: #f5f8fa;
//             align-items: center;
//             // line-height: 26px;
//             font-size: 16px;
//             // margin: 0px 10.55px 4px 10.55px;
//           }
//         }

//         .infoInput {
//           height: 147px;
//           display: flex;
//           flex-direction: column;
//           justify-content: space-around;
//           background-color: #f5f8fa;
//           border-radius: 2px;
//           border-bottom: 2px solid #657786;
//           padding: 2px 10.55px 4px 10.55px;

//           textarea {
//             border-style: none;
//             background-color: #f5f8fa;
//             font-size: 16px;
//           }

//           div {
//             font-size: 14px;
//             line-height: 22px;
//             color: #696974;
//             // text-align: start;
//             // margin: 2px 10.55px 0px 10.55px;
//           }

//           input {
//             outline: none;
//             border: none;
//             background-color: #f5f8fa;
//             align-items: center;
//             // line-height: 26px;
//             font-size: 16px;
//             // margin: 0px 10.55px 4px 10.55px;
//             font-family: 'Noto Sans TC'
//           }
//         }

//       }
//     }
//   }
// }
