.homeContainer {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  overflow-x: hidden;
  position: relative;
}

//MainPage Popularitems
.mainContainer {
  width: 1400px;
  height: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 333px 641px 426px;
  grid-template-rows: 1200px;

}

.interaction {
  &:hover {
    cursor: pointer;
  }
}

.mainDivider {
  width: 640px;
  height: 1px;
  border: none;
  background-color: #E6ECF0;
  margin-bottom: 16px;
}




//中間Content
.scrollbar {
  padding-left: 0px;

  &::-webkit-scrollbar {
    width: 15px;
    height: 1193px;
    background-color: #FAFAFA;
    border: 1px solid #E6ECF0;

  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #C1C1C1;
    box-shadow: inset 3px 0px 0px#E8E8E8,
      inset -3px 0px 0px #F0F0F0;
  }
}

.mainBlack {
  width: 1400px;
  height: 1200px;
  position: fixed;
  background-color: #C4C4C4;
  filter: brightness(60%);

}

.mainBackground {
  width: 100%;
  height: 100%;
  border: 1px solid #E6ECF0;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;

  .header {
    margin-top: 20px;
    width: 100%;
    height: 52px;
    font-family: 'Noto Sans TC';
    font-size: 24px;
    font-weight: 700;
    padding-left: 23px;
    color: #171725;
    position: relative;

  }

  .postContainer {
    width: 100%;
    height: 120px;
    position: relative;

    .postButton {
      width: 64.5px;
      height: 40px;
      position: absolute;
      top: 56%;
      right: 4%;

      &:hover {
        cursor: pointer;
      }
    }

  }

  .postDivider {
    width: 639px;
    height: 10px;
    border: none;
    background-color: #E6ECF0;
  }

  .tweets {
    margin-top: 16px;
    width: 100%;
    min-height: 942px;
  }
}

.grayBackground {
  position: fixed;
  z-index: 1000;
  background-color: #C4C4C4;
  filter: brightness(60%);
}

//TwitForm.jsx
.twitAvatar {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #C4C4C4;
  margin-left: 2.3px;
  background: url(../assets/image/Head.svg);

  &:hover {
    cursor: pointer;
  }

}

.tweetContainer {
  width: 100%;
  height: 153px;
}

.tweetCollection {
  width: 589px;
  height: 136px;
  margin: 0px auto;
  display: flex;
  gap: 8px;

  .tweetContent {
    width: 532px;
    height: 136px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    
    :hover {
      cursor: pointer;
    }

    .tweetArticle {
      width: 100%;
      height: 78px;
      font-family: 'Noto Sans TC';
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      color: #171725;
    }

    .tweetMessage {
      width: 120px;
      height: 16px;
      display: flex;
      gap: 38px;

      .smallIcon {
        width: 38px;
        height: 16px;
        display: flex;
        gap: 8px;

        div {
          font-size: 14px;
          font-weight: 600;
          font-family: 'Montserrat';
          line-height: 14px;
          color: #6C757D;
        }
      }
    }
  }
}

.nameInfo {
  width: 100%;
  height: 26px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 8px;

  .tweetName {
    font-family: 'Noto Sans TC';
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    color: #171725;

    &:hover {
      cursor: pointer;
    }
  }

  .tweetTime {
    font-family: 'Noto Sans TC';
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #6C757D;
    padding-top: 2px;
  }
}

//Right popular section
.rightColumn {
  position: relative;
  width: 100%;
  height: 100%;

  .popularList {
    position: absolute;
    width: 273px;
    height: 731px;
    top: 16px;
    left: 25px;
    border-radius: 16px;
    background-color: #FAFAFB;

    .popularRectangle {
      width: 273px;
      height: 1px;
      border: none;
      background-color: #E6ECF0;
    }

    .popularTitle {
      width: 100%;
      height: 58px;

      div {
        width: 96px;
        height: 26px;
        font-size: 24px;
        font-weight: 700;
        font-family: 'Noto Sans TC';
        margin-top: 24px;
        margin-left: 24px;
      }
    }
  }
}

//components
//1.follower
.followerContainer {
  width: 100%;
  height: 82px;
  border: 1px solid #FAFAFB;

  .followerContent {
    width: 250px;
    height: 50px;
    margin: 16px;
    display: grid;
    grid-template-columns: 50px 86px 96px;
    grid-gap: 8px;

    .follower {
      width: 100%;
      height: 47px;

      .followerName {
        width: 100%;
        height: 26px;
        font-family: 'Noto Sans TC';
        font-size: 16px;
        font-weight: 700;
        line-height: 26px;
        color: #171725;

        &:hover {
          cursor: pointer;
        }
      }

      .followerTime {
        width: 100%;
        height: 22px;
        font-family: 'Noto Sans TC';
        font-size: 14px;
        font-weight: 500;
        line-height: 22px;
        color: #92929D;
      }
    }

    .buttonPosition {
      width: 100%;
      height: 50px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}

//TwitPopUp
.popContainer {
  position: fixed;
  top: 56px;
  left: 336px;
  width: 634px;
  height: 300px;
  z-index: 1000;
  background-color: #FFFFFF;
  border-radius: 14px;
  border: 1px solid #92929D;
  z-index: 1000;

  .popButton {
    width: 64.5px;
    height: 40px;
    position: absolute;
    bottom: 16px;
    right: 16px;

    &:hover {
      cursor: pointer;
    }
  }
}

.popHeader {
  width: 100%;
  height: 41px;
  margin-top: 16px;

  div {
    width: 24px;
    height: 24px;
    margin-left: 15px;
  }
}

//Post

.postContent {
  width: 588.61px;
  height: 50px;
  margin-left: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;

  .postAvatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #C4C4C4;
    margin-left: 2.3px;
    background: url(../assets/image/PostPhoto.svg);

    &:hover {
      cursor: pointer;
    }
  }

  .postText {
    width: 526px;
    height: 26px;
    font-family: 'Noto Sans TC';
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    resize: none;
    border: none;
    overflow-y: hidden;
    color: #6C757D;

    &:focus {
      outline: none;
    }

    &:hover {
      cursor: pointer;
    }
  }
}


// replyPopUp
.replyPopUpContanier {
  width: 634px;
  height: 500px;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 56px;
  left: 336px;
  z-index: 1000;
  background-color: #FFFFFF;
  border-radius: 14px;
  border: 1px solid #92929D;
  
}

.replyCollection {
  width: 589px;
  height: 175px;
  margin: 0px auto;
  display: flex;
  gap: 8px;

}

.replyAvatar {
  width: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.replyDivider {
  width: 2px;
  height: 86px;
  background: #ccd6dd;
}

.replyButton {
  position: absolute;
  top: 88.8%;
  right: 16px;
}

.replyInfo {
  width: 100%;
  height: 26px;
  margin-top: 8px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 8px;
}

.replyTo {
  width: 100%;
  height: 22px;
  font-family: 'Noto Sans TC';
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #6C757D;
}

.replyName {
  width: 100%;
  height: 22px;
  font-family: 'Noto Sans TC';
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #FF6600;

}