@import "../base.scss";

.homeContainer {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  overflow-y: hidden;
  position: relative;
}

//MainPage Popular
.mainContainer {
  width: 1400px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  .leftColumn {
    margin-right: 20px;
  }
  .middleColumn {
    display: flex;

    .mainBackground {
      width: 639px;
      height: 100vh;
      border: 1px solid #e6ecf0;
      overflow-y: scroll;
      overflow-x: hidden;
      position: relative;

      .header {
        margin-top: 20px;
        width: 100%;
        height: 52px;
        font-family: "Noto Sans TC";
        font-size: 24px;
        font-weight: 700;
        padding-left: 23px;
        color: #171725;
        position: relative;
        border-bottom: 1px solid #e6ecf0;
      }

      .inputContainer {
        width: 580px;
        height: 54px;
        margin: 24px 0 32px 23px;

        label {
          display: flex;
          flex-direction: column;
          background-color: #f5f8fa;
          border-radius: 2px;
          border-bottom: 2px solid #657786;
          padding: 2px 10.55px 4px 10.55px;
  font-size: 14px;
            line-height: 22px;
            color: #696974;
        

          input {
            border: 1px solid #000;
            width: 90%;
            outline: none;
            border: none;
            background-color: #f5f8fa;
          }
        }
      }

      .storeButton {
        width: 88px;
        height: 46px;
        font-size: 20px;
        font-weight: 400;
        border-radius: 50px;
        background-color: var(--major);
        border: none;

        color: white;
        font-weight: 400;
        margin-bottom: 22px;
        padding: 8px 24px;
        margin-left: 515px;

        &.hover {
          cursor: pointer;
        }
      }
    }
  }
}
