.userContainer {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  overflow-x: hidden;
  position: relative;
}

.mainContainer {
  width: 1400px;
  height: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 333px 641px 426px;
  grid-template-rows: 1200px;
}

//navBar
.leftColumn {
  border: 1px solid #000;
  width: 100%;
  height: 100%;
  position: relative;

  .navContainer {
    border: 1px solid #000;
    width: 178px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 130px;

    .logo {
      margin: 13px 0 0 13px;
    }

    .navBar {
      border: 1px solid red;
      margin-top: 8px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      .lineWrapper {
        height: 26px;
        border: 1px solid blue;
        margin: 20px;
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: 700;
        

        .homeIcon {
          border: 1px solid #000;
        }
        .userIcon {
          border: 1px solid #000;
        }
        .settingIcon {
          border: 1px solid #000;
        }

        .active {
          color: #ff6600;
        }
      }

      .tweetButton {
        // margin-top: 24px;
        width: 178px;
        height: 46px;
        background: #ff6600;
        border-radius: 50px;
        border-style: none;
        color: #fff;
        font-size: 20px;
      }
    }
  }
}

.logout {
  position: absolute;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  left: 19px;
  bottom: 16px;
  gap: 16px;

  &:hover {
    cursor: pointer;
  }
}

// TimePopup

.notiContainer {
  position: fixed;
  right: 10px;
  top: 10px;
}