

.logoutButton {
  width: 36px;
  height: 26px;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #44444f;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-left: 19px;
}
