

:root {
  --major: #ff6600;
  --gray: #767678;
}

html,
body {
  background-color: #fff;
  font-family: 'Noto Sans TC'
}

// .app {
//   text-align: center;
//   margin: 45px auto;
//   max-width: 600px;
//   min-width: 320px;
//   width: 100%;
//   background-color: white;
//   padding: 12px 16px;
// }